<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Signals</title>
    <link rel="stylesheet" href="/static/uploads/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/static/uploads/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/uploads/css/styles.min.css">
</head>

<body>
    <div>
        <!-- Start: Header -->
        <div class="header-purple">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">

            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder"><img class="img-thumbnail device" src="/static/uploads/img/006.jpeg">
                        <h4 style="text-align: center;"><strong>&nbsp; &nbsp;NUMBER PLATE: PB42A 0006</strong></h4>
                    </div>
                </div>
            </div>
        </div><!-- End: Header -->
    </div><!-- End: Header Blue -->
    <script src="/static/uploads/js/jquery.min.js"></script>
    <script src="/static/uploads/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/uploads/js/script.min.js"></script>
</body>

</html>